.Dstore
**/*.iml
.idea/
*.project
/target/
**/*.swp
*.classpath
*.vscode
.settings/
.classpath
.project
.idea
data.modelsamples10w.txt
java_study.iml
/ __pycache__
**/*.pyc
/logs/
/lib/
/spark-warehouse/
/data/
/result/
/model/*
/log/*
/model_best/*
